[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/linmath.h"]
	path = external/linmath.h
	url = https://github.com/datenwolf/linmath.h.git
